* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #412567;
  padding-top: 30px;
  padding-bottom: 30px;
}
header h2 {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}
header .logo {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
header button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}
