* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1A0B2E;
  padding-top: 30px;
  padding-bottom: 30px;
}
header h2 {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}
header .logo {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
header button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}
.banner{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 760px;
}
.banner-img{
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 101px;
  padding-bottom: 40px;
}

.banner .microphone{
  position: absolute;
}
.banner .banner-heading{
  text-align: center;
}
.banner .banner-heading h1{
  font-size: 60px;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.banner .banner-heading p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.banner .banner-heading .banner-button1{
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}
.banner .banner-heading .banner-button2{
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #00FF88;
  background: transparent;
  border: 1px solid #00FF88;
  border-radius: 10000px;
  cursor: pointer;
  margin-left: 8px;
}